.header {
    background: var(--second-color);
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    align-items: center;
}


.header__items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header__items li {
    cursor: pointer;
}

.header__title {
    color: var(--primary-color);
}