@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pacifico&display=swap');
.header {
    background: var(--second-color);
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    align-items: center;
    height: 100px;
}


.header__items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header__items li {
    cursor: pointer;
}

.header__title {
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;
}

.header__nav-item {
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;    
    font-size: 2rem;
}


.header__services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s;
    border: 2px transparent solid;
    padding:  0 10px;
    border-radius: 5px;
    position: relative;
    top: -9px;
    height: 60px;
}

.header__services:hover {
    border: 2px var(--primary-color) solid
}
.header__count {
    background: var(--primary-color);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    align-self: flex-end;
    position: relative;
    top: 20px;
    font-family: 'Dancing', cursive;
    color: var(--light-color);
    padding: 3px;
}